/*========== BREAKPOINTS ==========*/
/* For Large Devices */
@media screen and (max-width: 1408px) {
  .container {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
  }

  .contact {
    overflow: hidden;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  .sidebar {
    width: 100%;
    z-index: 999;
    transform: translateX(-100%);
  }

  .main {
    margin-left: 0;
  }

  .show-sidebar {
    transform: translateX(0);
  }

  .nav_logo {
    display: none;
  }

  .nav_menu {
    height: 100%;
    width: 100%;
    transform: rotate(0deg) translateX(0);
    display: flex;
    justify-content: center;
  }

  .nav_list {
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  .nav_link {
    padding: 1rem;
    line-height: 6.5rem;
    font-size: 2rem;
  }

  .nav_contact-link {
    padding: 1rem;
    line-height: 6.5rem;
    font-size: 2rem;
  }

  .nav_link.active-link::after,
  .nav_link:hover::after {
    bottom: 0;
  }

  .nav_close {
    display: block;
  }

  .nav_toggle {
    display: flex;
  }

  .form-wrap {
    width: 65%;
    float: right;
    padding: 35px 25px 35px 25px;
    border-radius: 0px 30px 30px 0px;
  }

  .card {
    margin-top: 150px;
  }
}

@media screen and (max-width: 1023px) {
  .skills {
    width: 290px;
    height: 290px;
    background: radial-gradient(290px, #cd5e77, transparent 50%);
  }

  .skills-img .center-icon {
    height: 150px;
  }
  .skil-con img {
    height: 50px;
  }

  .projects .pj-container {
    flex-direction: column;
  }

  .contact {
    overflow: hidden;
  }
  .rightcontact-info {
    width: 100%;
  }

  .info-wrap,
  .form-wrap {
    width: 100%;
    height: inherit;
    float: none;
  }

  .info-wrap {
    border-radius: 30px 30px 0px 0px;
  }

  .form-wrap {
    border-radius: 0px 0px 30px 30px;
  }

  .form-group {
    width: 100%;
    float: none;
    margin: 25px 0px;
  }

  .form-fields .form-group:last-child,
  .submit-button {
    width: 100%;
  }

  .submit-button {
    margin: 10px 0px;
  }

  .form-group {
    float: right;
  }

  .whend p {
    display: inline;
    font-size: 17px;
    color: #fff;
  }

  .work-title span {
    display: none;
  }
}

/* For Medium Devices */
@media screen and (max-width: 768px) {
  /*ABOUT*/

  .about-section-col {
    flex: 100%;
    margin: 10px 0;
  }

  .abtext p {
    margin: 10px 30px;
  }

  .about {
    text-align: center;
  }

  .form-group {
    float: right;
  }
  #image-container {
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .mywebsite,
  .work-title,
  .pjtext,
  .myweb-git {
    transform: none;
  }

  .subnotice {
    display: none;
  }
}

@media screen and (max-width: 627px) {
  .portname {
    margin-left: 10px;
  }
}
@media screen and (max-width: 463px) {
  .work-title {
    text-align: center;
    margin-left:-60px;
  }
}
@media screen and (max-width: 413px) {
  .work-title {
    text-align: left;
    margin-left:-20px;
    font-size:5px;
  }
}
@media screen and (max-width: 500px) {
  section {
    overflow: hidden;
  }
  .container {
    margin: -70px;
  }
  .nav_toggle {
    right: initial;
    left: 1.5rem;
  }

  .home {
    background-image: none;
    background: #0d0d0d;
    height: initial;
    align-items: initial;
    padding: 7rem 0 7rem;
  }

  .home_container {
    row-gap: 2rem;
  }

  .small-mepic {
    display: block;
    width: 100%;
    justify-self: center;
  }

  .home_data {
    text-align: center;
  }

  .home_hey {
    font-size: 15px;
  }

  .home_name {
    font-size: 45px;
  }

  .home_job {
    font-size: 30px;
  }

  .home_job span {
    font-weight: 500;
  }

  .button {
    font-size: 12px;
    padding: 5px 15px;
  }

  .skills {
    width: 222px;
    height: 210px;
    background: radial-gradient(210px, #cd5e77, transparent 50%);
  }

  .skills-img .center-icon {
    height: 100px;
  }
  .skil-con img {
    height: 40px;
  }
  .skills-img .img-text {
    left: -10px;
    font-size: 1.5rem;
  }
  .skil-con .img-text {
    font-size: 0.6rem;
  }

  /*Portfolio*/

  .mywebsite {
    position: relative;
    align-items: center;
    transform: none;
    margin: auto;
    padding: 50px;
  }

  .imgbx {
    width: 70%;
    margin: 115px 0px -70px 60px;
  }

  .portname {
    font-size: 55px;
    align-items: center;
  }

  .subnotice {
    display: none;
  }

  .whend p {
    display: inline;
    font-size: 13px;
    color: #fff;
  }

  .work-title {
    font-size: 30px;
    transform: none;
  }

  .work-title span {
    display: none;
  }

  .pjtext {
    transform: none;
    font-size: 13px;
    width: 100%;
    padding-left: 10px;
  }

  .myweb-git {
    transform: none;
    font-size: 10px;
    padding: 7px 15px;
  }

  .card {
    position: relative;
    align-items: center;
    margin-left: 90px;
  }

  .designCard {
    align-items: center;
    position: relative;
    width: 350px;
    height: 410px;
    margin-bottom: 50px;
  }

  .designCard:before {
    border-right: 244px solid #d9d9d9;
  }

  .designCard .card-content {
    width: 70%;
    padding-bottom: 10px;
    font-size: 15px;
  }

  .designCard .card-content:before {
    height: 500px;
  }

  .cardImg {
    width: 105px;
  }

  .cardImg h5 {
    font-size: 19px;
  }

  .projects {
    overflow: visible;
  }
  .projects .pj-container .p-box {
    width: 330px;
    height: 114px;
    margin: 0px auto;
    margin-bottom: 120px;
  }

  .contact::before {
    width: 350px;
    height: 350px;
    border-radius: 50%;
  }

  .footer-contnt .fsocial-btn {
    height: 40px;
    width: 40px;
  }

  .fsocial-btn .icon {
    height: 40px;
    width: 40px;
  }

  .fsocial-btn .icon i {
    font-size: 20px;
    line-height: 40px;
  }

  .fsocial-btn:hover {
    width: 130px;
  }

  .fsocial-btn span {
    font-size: 10px;
  }

  .form-title span {
    margin-left: 100px;
  }
}

/* For Small Devices */

