/*========== BREAKPOINTS ==========*/
/* For Large Devices */
@media screen and (max-width: 1408px) {
  .container {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
  }

  .contact {
    overflow: hidden;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  .sidebar {
    width: 100%;
    z-index: 999;
    transform: translateX(-100%);
  }

  .main {
    margin-left: 0;
  }

  .show-sidebar {
    transform: translateX(0);
  }

  .nav_menu {
    height: 100%;
    width: 100%;
    transform: rotate(0deg) translateX(0);
    display: flex;
    justify-content: center;
  }

  .nav_list {
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  .nav_link {
    padding: 1rem;
    line-height: 6.5rem;
    font-size: 2rem;
  }

  .nav_contact-link {
    padding: 1rem;
    line-height: 6.5rem;
    font-size: 2rem;
  }

  .nav_link.active-link::after,
  .nav_link:hover::after {
    bottom: 0;
  }

  .nav_close {
    display: block;
  }

  .nav_toggle {
    display: inline-block; 
    font-size: 25px;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .second-fave-movie-card {
    margin-top: 150px;
  }
}

@media screen and (max-width: 1023px) {
  .skills {
    width: 290px;
    height: 290px;
  }

  .skills-img .center-icon {
    height: 150px;
  }
  .skil-con img {
    height: 50px;
  }

  .Retiza-Montero-Interest .Interest-container {
    flex-direction: column;
  }

  .contact {
    overflow: hidden;
  }
  .rightcontact-info {
    width: 100%;
  }

  .info-wrap {
    width: 100%;
    height: inherit;
    float: none;
  }

  .info-wrap {
    border-radius: 30px 30px 0px 0px;
  }

  .fave-childhood-movie-title span {
    display: none;
  }
}

/* For Medium Devices */
@media screen and (max-width: 768px) {
  /*MONTERO HOBBY*/

  .about-section-col {
    flex: 100%;
    margin: 10px 0;
  }

  .hobby-description p {
    margin: 10px 30px;
  }

  .montero-hobby {
    text-align: center;
  }

  #image-container {
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .Chucky-Movie-Section,
  .fave-childhood-movie-title,
  .Chucky-Movie-Description {
    transform: none;
  }
}

@media screen and (max-width: 627px) {
  .TITLE {
    margin-left: 10px;
  }
}
@media screen and (max-width: 463px) {
  .fave-childhood-movie-title {
    text-align: center;
    margin-left: -60px;
  }
}
@media screen and (max-width: 413px) {
  .fave-childhood-movie-title {
    text-align: left;
    margin-left: -20px;
    font-size: 5px;
  }
}

@media screen and (max-width: 500px) {
  section {
    overflow: hidden;
  }
  .container {
    margin: -70px;
  }
  .nav_toggle {
    right: initial;
    left: 1.5rem;
  }

  .home {
    background-image: none;
    background: #395144;
    height: initial;
    align-items: initial;
    padding: 7rem 0 7rem;
  }

  .home_container {
    row-gap: 2rem;
  }

  .small-mepic {
    display: block;
    width: 100%;
    justify-self: center;
  }

  .home_data {
    text-align: center;
  }

  .home_hey {
    font-size: 15px;
  }

  .home_name {
    font-size: 45px;
  }

  .home_student {
    font-size: 30px;
  }

  .home_student span {
    font-weight: 500;
  }

  .button {
    font-size: 12px;
    padding: 5px 15px;
  }

  .skills {
    width: 222px;
    height: 210px;
    background: radial-gradient(210px, #b0d9b1, transparent 30%);
  }

  .skills-img .center-icon {
    height: 100px;
  }
  .skil-con img {
    height: 40px;
  }
  .skills-img .img-text {
    left: -10px;
    font-size: 1.5rem;
  }
  .skil-con .img-text {
    font-size: 0.6rem;
  }

  .Chucky-Movie-Section {
    position: relative;
    align-items: center;
    transform: none;
    margin: auto;
    padding: 50px;
  }

  .Chucky-imgbx {
    width: 70%;
    margin: 115px 0px -70px 60px;
  }
 
  #Interest .TITLE {
    font-size: 55px;
    align-items: center;
  }

  .fave-childhood-movie-title {
    font-size: 30px;
    transform: none;
  }

  .fave-childhood-movie-title span {
    display: none;
  }

  .Chucky-Movie-Description {
    transform: none;
    font-size: 13px;
    width: 100%;
    padding-left: 10px;
  }

  .second-fave-movie-card {
    position: relative;
    align-items: center;
    margin-left: 90px;
  }

  .second-fave-movie-3D-design-Card {
    align-items: center;
    position: relative;
    width: 350px;
    height: 410px;
    margin-bottom: 50px;
  }

  .second-fave-movie-3D-design-Card:before {
    border-right: 244px solid #d9d9d9;
  }

  .second-fave-movie-3D-design-Card .second-fave-movie-card-content {
    width: 70%;
    padding-bottom: 10px;
    font-size: 15px;
  }

  .second-fave-movie-3D-design-Card .second-fave-movie-card-content:before {
    height: 500px;
  }

  .DonnieDarko-cardImg {
    width: 105px;
  }

  .DonnieDarko-cardImg h5 {
    font-size: 19px;
  }

  .Retiza-Montero-Interest {
    overflow: visible;
  }
  .Retiza-Montero-Interest .Interest-container .Interest-box {
    width: 330px;
    height: 114px;
    margin: 0px auto;
    margin-bottom: 120px;
  }

  .contact::before {
    width: 350px;
    height: 350px;
    border-radius: 50%;
  }

  .footer-contnt .fsocial-btn {
    height: 40px;
    width: 40px;
  }

  .fsocial-btn .icon {
    height: 40px;
    width: 40px;
  }

  .fsocial-btn .icon i {
    font-size: 20px;
    line-height: 40px;
  }

  .fsocial-btn:hover {
    width: 130px;
  }

  .fsocial-btn span {
    font-size: 10px;
  }
}

/* For Small Devices */

@media screen and (max-width: 440px) {
  .second-fave-movie-card {
    margin-left: 50px;
  }
}
@media screen and (max-width: 407px) {
  .container {
    margin: -70px;
  }

  .small-mepic {
    width: 200px;
  }

  .home_hey {
    font-size: 1rem;
  }

  .home_name {
    font-size: 2.25rem;
  }

  .home_student {
    font-size: 1.5rem;
  }

  .TITLE {
    font-size: 40px;
    margin-top: 40px;
  }

  .Chucky-imgbx {
    width: 80%;
    margin: 98px 0px -90px 60px;
  }

  .fave-childhood-movie-title {
    font-size: 30px;
    transform: none;
  }

  .fave-childhood-movie-title span {
    display: none;
  }

  .Chucky-Movie-Description {
    transform: none;
    font-size: 10px;
    width: 110%;
    text-align: center;
  }

  .second-fave-movie-3D-design-Card {
    width: 300px;
    height: 380px;
  }

  .second-fave-movie-3D-design-Card:before {
    border-right: 210px solid #d9d9d9;
  }

  .second-fave-movie-3D-design-Card .second-fave-movie-card-content {
    width: 70%;
    padding-bottom: 10px;
    font-size: 14px;
  }

  .DonnieDarko-cardImg {
    width: 90px;
  }

  .DonnieDarko-cardImg h5 {
    font-size: 18px;
  }

  .contact::before {
    width: 290px;
    height: 290px;
    border-radius: 50%;
  }
}
@media screen and (max-width: 396px) {
  .fave-childhood-movie-title {
    font-size: 20px;
    transform: none;
    margin-right: 10px;
    text-align: center;
  }
  .Chucky-imgbx img {
    max-width: 90%; 
    margin-bottom: 10px; 
  }
  .contact::before {
    width: 280px;
    height: 280px;
    border-radius: 50%;
  }
}
@media screen and (max-width: 394px) {
  .rightcontact-info {
    margin-left: -5px;
  }
}
@media screen and (max-width: 350px) {
  .rightcontact-info {
    margin-left: -35px;
  }
}

@media screen and (max-width: 388px) {
  .fave-childhood-movie-title {
    font-size: 20px;
    transform: none;
    margin-right: 10px;
    text-align: center;
  }
  .Chucky-Movie-Description {
    font-size: 10px;
    text-align: center; 
    margin-left: -15px;
  }

  .rightcontact-info {
    margin-left: -10px;
  }
}
@media screen and (max-width: 382px) {
  .Chucky-imgbx img {
    max-width: 90%; 
    margin-bottom: 10px; 
    margin-right: -25px;
  }
  .rightcontact-info {
    margin-left: -15px;
  }
}
@media screen and (max-width: 360px) {
  .rightcontact-info {
    margin-left: -25px;
  }
}

@media screen and (max-width: 337px) {
  .rightcontact-info {
    margin-left: -35px;
  }
}

@media screen and (max-width: 330px) {
  .rightcontact-info {
    margin-left: -45px;
  }
  .contact::before {
    width: 210px;
    height: 210px;
    border-radius: 50%;
  }
}

@media screen and (max-width: 318px) {
  .rightcontact-info {
    margin-left: -45px;
  }
}
@media screen and (max-width: 371px) {
  .fave-childhood-movie-title {
    font-size: 24px; 
    margin-left: -30px;
  }
  .Chucky-Movie-Description {
    font-size: 9.5px;
    text-align: center; 
    margin-left: -30px;
  }
}

@media screen and (max-width: 365px) {
  .Chucky-imgbx img {
    max-width: 90%; 
    margin-bottom: 10px; 
  }
  .fave-childhood-movie-title {
    font-size: 24px; 
    margin-left: -30px;
  }
  .Chucky-Movie-Description {
    font-size: 9.5px;
    text-align: center; 
    margin-left: -30px;
  }
}
@media screen and (max-width: 342px) {
  .fave-childhood-movie-title {
    font-size: 18px; 
    margin-left: -90px;
  }
  .Chucky-Movie-Description {
    font-size: 9px;
    text-align: left; 
    margin-left: -30px;
  }
}

@media screen and (max-width: 335px) {
  
  .Montero-Fave-Movie {
    padding: 20px 0; 
  }

  .All-Montero-Movies {
    text-align: center; 
    margin-right: 40px;
  }

  .TITLE {
    font-size: 40px; 
  }

  
  .Chucky-imgbx img {
    max-width: 85%; 
    margin-bottom: 10px; 
  }

  .fave-childhood-movie-title {
    font-size: 18px; 
    margin-left: 10px;
  }

  .Chucky-Movie-Description {
    font-size: 8px;
    text-align: left; 
    margin-left: -30px;
  }

  .second-fave-movie-3D-design-Card {
    width: 300px;
    height: 380px;
  }

  .second-fave-movie-3D-design-Card:before {
    border-right: 210px solid #d9d9d9;
  }

  .second-fave-movie-3D-design-Card .second-fave-movie-card-content {
    width: 70%;
    padding-bottom: 10px;
    font-size: 14px;
  }
}
@media screen and (max-width: 375px) {
  .Chucky-imgbx img {
    max-width: 85%; 
    margin-bottom: 10px; 
    margin-left: 120px;
  }
}
@media screen and (max-width: 356px) {
  .Chucky-Movie-Description {
    font-size: 8px;
    text-align: center; 
    margin-left: -40px;
  }
  .Chucky-imgbx img {
    max-width: 85%; 
    margin-bottom: 10px; 
    margin-left: 110px;
  }

  .fave-childhood-movie-title {
    font-size: 18px; 
    margin-left: -80px;
  }
}
@media screen and (max-width: 340px) {
  .Chucky-Movie-Description {
    font-size: 8px;
    text-align: center; 
    margin-left: -50px;
  }
}

@media screen and (max-width: 330px) {
  .Chucky-Movie-Description {
    font-size: 8px;
    text-align: center; 
    margin-left: -55px;
  }
  .Chucky-imgbx img {
    max-width: 85%; 
    margin-bottom: 10px; 
    margin-left: 100px;
  }
}

@media screen and (max-width: 325px) {
  .Chucky-Movie-Description {
    font-size: 7.5px;
    text-align: center; 
    margin-left: -55px;
  }
  .Chucky-imgbx img {
    max-width: 85%; 
    margin-bottom: 10px; 
    margin-left: 100px;
  }
  .fave-childhood-movie-title {
    font-size: 18px; 
    margin-left: -110px;
  }
}

@media screen and (max-width: 300px) {
  .Chucky-imgbx img {
    max-width: 85%; 
    margin-bottom: 10px; 
    margin-left: 110px;
  }
  .fave-childhood-movie-title {
    font-size: 18px; 
    margin-left: -100px;
  }
  .Chucky-Movie-Description {
    font-size: 6.5px;
    text-align: left;
  }
}
@media screen and (max-width: 320px) {
  .second-fave-movie-card {
    margin-left: 18px;
  }
}
@media (501px <= width <=804px) {
  .home_data {
    text-align: center;
  }

  .home_hey {
    font-size: 15px;
  }

  .home_name {
    font-size: 40px;
  }
}

@media (300px <= width <=406px) {
  .Chucky-imgbx img {
    margin-top: 20px;
    margin-left: 90px;
  }
}
@media (300px <= width <=320px) {
  .TITLE {
    margin-left: -50px;
  }
}
@media (321px <= width <=347px) {
  .TITLE {
    margin-left: -22px;
  }
}
@media (501px <= width <=806px) {
  .Chucky-imgbx img {
    margin-top: 50px;
    margin-left: 33px;
  }
}

@media (806px <= width <=839px) {
  .Chucky-imgbx img {
    margin-top: 55px;
    margin-left: 33px;
  }
}
@media (407px <= width <=550px) {
  .Montero-Fave-Movie .TITLE {
    margin-left: -40px;
    font-size: 60px;
  }
}
@media (407px <= width <=500px) {
  .Montero-Fave-Movie .TITLE {
    margin-left: 10px;
    font-size: 40px;
  }
}
@media (839px <= width <=989px) {
  .Chucky-imgbx img {
    margin-top: 15px;
    margin-left: 83px;
  }
}
@media (419px <= width <=450px) {
  .Chucky-imgbx img {
    margin-left: 100px;
  }
}

@media (419px <= width <=450px) {
  .Montero-Fave-Movie .TITLE {
    margin-left: -10px;
    font-size: 40px;
  }
}
@media (321px <= width <=354px) {
  .TITLE {
    margin-left: -10px;
    font-size: 30px;
  }
}

@media (320px <= width <=354px) {
  #Interest .TITLE {
    margin-left: 20px;
  }
}

@media (406px <= width <=495px) {
  #Interest .TITLE {
    margin-left: 20px;
  }
}

@media (max-width: 320px) {
  .RetizaHobby .Retiza-card {
    width: 100%; 
    margin: 15px 0;
  }
}

@media (min-width: 321px) and (max-width: 768px) {
  .RetizaHobby .Retiza-card {
    width: calc(50% - 30px); 
    margin: 15px;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  .RetizaHobby .Retiza-card {
    width: calc(33.33% - 40px); 
    margin: 15px;
  }
}

@media (min-width: 1201px) and (max-width: 2000px) {
  .RetizaHobby .Retiza-card {
    width: calc(25% - 50px); 
    margin: 15px;
  }
}
@media (321px <= width <=558px) {
  .RetizaHobbycontent h2 {
    margin-left: -10px;
    font-size: 30px;
  }
}
@media (321px <= width <=386px) {
  .RetizaHobbycontent h2 {
    margin-left: -20px;
    font-size: 25px;
  }
}
@media (278px <= width <=360px) {
  .footer-contnt .fsocial-btn {
    height: 30px;
    width: 30px;
  }

  .fsocial-btn .icon {
    height: 30px;
    width: 30px;
  }

  .fsocial-btn .icon i {
    font-size: 10px;
    line-height: 30px;
  }

  .fsocial-btn:hover {
    width: 100px;
  }

  .fsocial-btn span {
    font-size: 5px;
  }
}
@media (278px <= width <=2000px) {
  #BLACK-WAVE-BORDER {
    margin-top: -50px;
  }
}
@media (839px <= width <=989px) {
  .Chucky-imgbx img {
    margin-top: 15px;
    margin-left: 83px;
  }
}

@media (1068px <= width <=1217px) {
  .fave-childhood-movie-title {
    font-size: 48px; 
  }
}
@media (1004px <= width <=1068px) {
  .fave-childhood-movie-title {
    font-size: 38px; 
    margin-left: 90px;
  }
  .Chucky-Movie-Description {
    margin-left: 90px;
  }
}
@media (1025px <= width <=1035px) {
  .fave-childhood-movie-title {
    font-size: 30px; 
  }
}
@media (820px <= width <=926px) {
  .fave-childhood-movie-title {
    font-size: 50px; 
  }
}
@media (767px <= width <=839px) {
  .fave-childhood-movie-title {
    margin-top: 40px; 
  }
}
@media (767px <= width <=820px) {
  .fave-childhood-movie-title {
    font-size: 40px; 
  }
}
@media (320px<= width <=363px) {
  .second-fave-movie-card {
    margin-left: 30px;
  }
}
@media (578px<= width <=675px) {
  .second-fave-movie-card {
    margin-left: 50px;
  }
}
@media (530px<= width <=578px) {
  .second-fave-movie-card {
    margin-left: 30px;
  }
}
@media (500px<= width <=530px) {
  .second-fave-movie-card {
    margin-left: 15px;
  }
}
