* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

p {
  color: black;
}

a,
.btn {
  transition: all 300ms ease;
}

/*primary navigation */
nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
  background-color: navy;
  color: white;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  color: white;
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: green;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181);
}

.logo {
  font-size: 2rem;
}

.logo:hover {
  cursor: default;
}

/*AboutRetiza Section */
#aboutretiza {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  height: 80vh;
}
.section_picture-container {
  border: 5px solid blue;
  border-radius: 10px;
  display: flex;
  height: 300px;
  width: 300px;
}

.text-container {
  margin: 150px auto;
  width: 70%;
  background-color: lightcyan;
  border: 3px solid green;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.text-container h2 {
  color: #333;
  font-size: 42px;
}

.text-container i {
  color: darkblue;
}

.text-container p {
  color: black;
  font-size: 16px;
  line-height: 1.5;
}

/*my interest Section */
#myinterest {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  height: 80vh;
}

.interests-container {
  text-align: center;
}

.interests {
  width: 900px;
  height: 400px;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
}

.a-interest-box {
  margin: 10px;
  width: 900px;
  height: 400px;
  box-shadow: -1px 0 10px #000000;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.a-interest-box img {
  max-width: 100%;
  height: auto;
  align-items: center;
}

/*My hobby Section*/
#hobbies {
  margin-top: 40px; /* Adjust the margin-top value to control the gap size */
}

/* The rest of the CSS for your hobbies section remains the same as in the previous response */
.hobbies {
  width: 45%;
}

.hobbies li {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#hobbies img {
  width: 400px;
  height: 300px;
  margin: 0 auto;
  display: block;
}

.hobbies img {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
  margin: 0 auto;
  display: block;
}

.hobbies li + li {
  margin-top: 20px;
}

/* Center images in the "Hobbies" section */
#hobbies ul {
  text-align: center;
}

/*contact Section */
#Contact {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  height: 80vh;
}
