* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input {
  font-family: "Halant", serif;
  font-size: 0.938rem;
}

body {
  background-color: rgb(65, 100, 74);
  color: #d9d9d9;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

button,
input {
  border: none;
  outline: none;
}

/*=============== LAYOUT ===============*/

.container {
  max-width: 1250px;
  padding: 0 80px;
  margin: auto;
}

.grid {
  display: grid;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.section {
  padding: 2.5rem 0 2rem;
}

/*=============== SIDEBAR ===============*/
.sidebar {
  position: fixed;
  width: 70px;
  height: 100vh;
  background-color: #4e6c50;
  border-right: 2px solid #1a1a1a;
}

.nav_menu {
  position: fixed;
  transform: rotate(-90deg) translateX(-100%);
  transform-origin: left top;
  width: 100vh;
}

.menu {
  display: flex;
}

.nav_list {
  display: flex;
  flex-direction: row-reverse;
  margin: -2px auto 0 auto;
}

.nav_link {
  height: 100%;
  line-height: 70px;
  padding: 0 1.6rem;
  color: #f0ebce;
  font-size: 17px;
  font-weight: 600;
  position: relative;
  transition: 0.4s;
}

.nav_contact-link {
  font-size: 1rem;
  padding: 0 0.8rem;
  color: #7eaa92;
}

.nav_toggle {
  height: 33px;
  width: 26px;
  cursor: pointer;
  position: fixed;
  right: 1.5rem;
  top: 2rem;
  font-size: 1.2rem;
  border-radius: 0.25rem;
  background-color:#7eaa92;
  color: #000;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.nav_close {
  font-size: 1.5rem;
  position: absolute;
  top: 1rem;
  right: 1.25rem;
  cursor: pointer;
  display: none;
}

/* Active Link */
.nav_link.active-link,
.nav_link:hover {
  color: #fff;
}

/*=============== MAIN ===============*/

.main {
  margin-left: 70px;
}

/*===== Home Section =====*/

.home {
  background: url("img/mybg_pic.png") no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: center center;
  color: #fff;
  background-color:#395144;

}

.home_container {
  position: relative;
  height: 100%;
  align-items: center;
}

.small-mepic {
  display: none;
}

.home_hey {
  font-family: "Satisfy", cursive;
  font-size: 20px;
}

.home_name {
  font-size: 60px;
  font-weight: 600;
}

.home_name span {
  font-weight: 730;
  letter-spacing: 2px;
  color: #b0d9b1;
  text-shadow:5px 1px black;
}

.home_job {
  font-family: "Satisfy", cursive;
  font-size: 40px;
  margin: 0.8rem 0.1rem;
}

.home_job span {
  font-weight: 500;
}

/*===== Buttons =====*/

.button {
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
  background-color: #79ac78;
  color: #fff;
  padding: 0.65rem 1.4rem;
  border-radius: 0.25rem;
  margin: 0.8rem 0.1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 3px;
  position: relative;
  transition: 0.5s;
  
}

.button:hover {
  background: #618264;
  transition-delay: 0.8 s;
  background-size: 180px;
  animation: animate 0.8s steps(8) forwards;
}

@keyframes animate {
  0% {
    background-position-y: 0;
  }

  100% {
    background-position-y: -480px;
  }
}

.button_icon {
  font-size: 1.35rem;
}

/*===== About Section =====*/

.about {
  width: 100%;
}

h2 {
  font-family: "Satisfy", cursive;
  text-align: center;
  font-size: 2.93rem;
  margin-bottom: 2rem;
  color: #b0d9b1;
  text-shadow:5px 1px black;
}

.inner-width {
  max-width: 1250px;
  padding: 0 20px;
  margin: auto;
}

.about-section-row {
  display: flex;
  flex-wrap: wrap;
}

.about-section-col {
  flex: 50%;
}

.abtext p {
  text-align: justify;
  font-size: 17px;
  font-weight: 600;
  margin: 10px 20px;
  margin-bottom: 30px;
  color: #fff;
}

.about a {
  display: inline-block;
  align-items: center;
  background-color: #0d0d0d;
  color: #fff;
  padding: 10px 20px;
  border-radius: 30px;
  margin: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 3px;
  transition: transform 0.3 ease;
}

.about a::after,
.about a::before {
  content: "";
  position: absolute;
  opacity: 0.3;
  background-color: #0d0d0d;
  border-radius: inherit;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: transform 0.3s ease;
}

.about a:hover {
  transform: translate(-12px, -12px);
}

.about a:hover::after {
  transform: translate(6px, 6px);
}

.about a:hover::before {
  transform: translate(12px, 12px);
}

.skills {
  position: relative;
  margin: 1.5rem auto;
  width: 350px;
  height: 350px;
  background: radial-gradient(350px, #b0d9b1, transparent 30%);
}

.skills-img .center-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 200px;
}
#image-container {
  width: 310px; /* Desired width */
  height: 300px; /* Desired height */
  position: absolute;
  margin-top: 200px;
  justify-content: center;
  margin-left: 100px;
}
.skills-img .img-text {
  position: relative;
  top: -190px;
  text-align: center;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s, visibility 0.2s;
}

.skills-img:hover .img-text {
  visibility: visible;
  opacity: 1;
}

.skill-icons {
  height: 100%;
  animation: rotation 60s linear infinite;
}

@keyframes rotation {
  100% {
    transform: rotate(360deg);
  }
}

.skil-con {
  position: absolute;
  height: 5rem;
}

.skill-icons .first {
  top: -5%;
  left: 40%;
}

.skill-icons .second {
  top: 25%;
  left: 80%;
}

.skill-icons .third {
  top: 65%;
  left: 80%;
}

.skill-icons .fourth {
  top: 85%;
  left: 40%;
}

.skill-icons .five {
  top: 25%;
  left: 0%;
}

.skill-icons .six {
  top: 65%;
  left: 0%;
}

.skil-con .img-text {
  color: #000;
  font-size: 0.9rem;
  font-weight: 600;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s, visibility 0.2s;
}

.skil-con:hover .img-text {
  visibility: visible;
  opacity: 1;
}

/*===== Anime =====*/

.mywork {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}

.portfolio {
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.portname {
  float: left;
  margin: 0px 50px;
  font-size: 70px;
  padding: 12px 25px;
}

.portname span {
  color: #fff;
}

.subnotice p {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
}

.mywebsite {
  position: relative;
  margin: 180px 100px 0px 100px;
  max-width: 1000px;
  transform: skewY(-20deg);
}

.imgbx {
  position: relative;
  width: 100%;
  height: 180px;
  transform-origin: bottom;
  transform: skewX(45deg);
}

.imgbx img {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 130px;
  filter: grayscale(1);
  max-width: 100%;
  transition: 0.5s;
}

.imgbx:hover img:nth-child(3) {
  transform: translate(100px, -100px);
}

.imgbx:hover img:nth-child(2) {
  transform: translate(50px, -50px);
  opacity: 0.5;
}

.imgbx:hover img:nth-child(1) {
  transform: translate(0px, 0px);
  opacity: 0.1;
}

.whend p {
  display: none;
}

.work-title {
  position: relative;
  color: #fff;
  font-size: 4em;
}

.work-title span {
  font-size: 20px;
}

.pjtext {
  transform-origin: top;
  transform: skew(45deg);
  width: 100%;
}

.pjtext p {
  color: #fff;
  font-size: 1.6em;
  width: 85%;
}

.myweb-git {
  position: relative;
  padding: 10px 20px;
  display: inline-block;
  background: transparent;
  color: #fff;
  transform-origin: top;
  margin-top: 20px;
  border: 2px solid #fff;
  transform: skewX(-45deg);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 3px;
  transition: 0.5s;
}

.myweb-git:hover {
  background: #fff;
  color: #000;
}

.myweb-git i {
  font-size: 20px;
  padding-left: 7px;
}

.card {
  position: relative;
  float: right;
  transform: skewY(-10deg);
  margin: 50px 100px 100px 0px;
}

.designCard {
  position: relative;
  width: 500px;
  height: 350px;
  background: #fff;
  transition: 0.5s;
}

.designCard:before {
  content: "";
  position: absolute;
  top: -15px;
  left: 0;
  width: 30%;
  height: 15px;
  background: #c1d0b5;
  transform-origin: bottom;
  transform: skewX(45deg);
  transition: 0.5s;
  border-right: 350px solid #d9d9d9;
}

.designCard:after {
  content: "";
  position: absolute;
  top: -15px;
  left: -15px;
  width: 15px;
  height: 100%;
  background: #c1d0b5;
  transform-origin: left;
  transform: skewY(45deg);
  transition: 0.5s;
}

.designCard:hover {
  transform: translateY(-40px);
}

.designCard .card-content {
  position: relative;
  width: 70%;
  color: #000;
  float: right;
  padding: 50px 30px;
  font-size: 17px;
}

.designCard .card-content:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 400px;
  background: linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.1));
  transform-origin: bottom;
  transform: skewX(45deg);
  transition: 0.5s;
  pointer-events: none;
  z-index: -1;
}

.designCard .card-content:before {
  transform: translateY(40px) skewX(45deg);
  filter: blur(5px);
  opacity: 0.5;
}

.card-content p span {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 25px;
}

.cardImg {
  position: relative;
  width: 150px;
  height: 100%;
  background: #99a98f;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cardImg h5 {
  position: relative;
  color: #fff;
  margin-top: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 29px;
}

/*===== movies Section =====*/
.projects {
  background: rgb(65, 100, 74);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}

svg {
  display: block;
 
}

.projects .portname {
  color: #212121;
  margin-top: 10px;
}

.projects .pj-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
}

.projects .pj-container .p-box {
  position: relative;
  width: 450px;
  height: 234px;
  margin: 50px 50px;
  background: #183d3d;
  transform-style: preserve-3d;
}

.projects .pj-container .p-box .p-imgbx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.projects .pj-container .p-box:hover {
  box-shadow: 0 20px 40px rgba(255, 255, 255, 0.2);
}

.projects .pj-container .p-box .p-contentbx {
  position: absolute;
  top: 50%;
  left: 50px;
  right: 50px;
  background: #fff;
  transform: translateZ(20px) scaleY(0);
  padding: 10px 25px;
  transform-origin: top;
  transition: 0.5s;
  transform-style: preserve-3d;
  color: #186f65;
}

.projects .pj-container .p-box:hover .p-contentbx {
  transform: translateZ(50px) scaleY(1);
}

.projects .pj-container .p-box .p-contentbx h4 {
  text-align: center;
  letter-spacing: 3px;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 5px;
}

.projects .pj-container .p-box .p-contentbx a {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 3px;
  color: #000;
  font-size: 13px;
  padding: 0px 10px;
  float: right;
}

.projects .pj-container .p-box .p-contentbx a:hover {
  color: rgb(46, 67, 116);
}

/*===== Contact Section =====*/

.contact {
  width: 100%;
  padding: 20px;
  background: #b5cb99;
  
}
.contact::before {
  content: "";
  position: absolute;
  width: 400px;
  height: 400px;
  background: linear-gradient(rgb(46, 67, 116), #89fffd);
  border-radius: 50%;
  transform: translate(10px, 5px);
}

.rightcontact-info {
  position: relative;
  display: table;
  width: 1100px;
  margin: auto;
  margin-top: 35px;
  margin-bottom: 35px;
  border-radius: 30px;
}

.info-wrap {
  width: 100%;
  height: auto;
  padding: 40px;
  float: left;
  display: block;
  border-radius: 30px 0px 0px 30px;
  color: black;
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  overflow: hidden;
  backdrop-filter: blur(20px);
}

.info-title {
  text-align: left;
  font-size: 28px;
}

.info-sub-title {
  font-size: 15px;
  font-weight: 300;
  margin-top: 5px;
  letter-spacing: 0.5px;
  line-height: 26px;
  text-align: center;
}

.info-details {
  margin: 10px 0;
  text-align: center;
}

.info-details li {
  margin-top: 25px;
  font-size: 17px;
}

.info-details li i {
  font-size: 25px;
  color: #183d3d;
  padding: 12px;
  margin-right: 5px;
}

.info-details li a {
  color: black;
}

.info-details li a:hover {
  color: #183d3d;
}

.info-details span {
  margin-left: 50px;
}





/*=============== FOOTER ===============*/

footer {
  display: grid;
  position: relative;
  width: 100%;
  height: 100px;
  background: #186f65;
  place-items: center;
}

.footer-contnt .fsocial-btn {
  display: inline-block;
  height: 50px;
  width: 50px;
  margin: 0 25px;
  text-align: center;
  border-radius: 50px;
  overflow: hidden;
  float: left;
  box-shadow: 1px 1px 5px 0 #183d3d,
    1px 1px 5px 0 #93b1a6;
  transition: all 0.4s ease-out;
}

.fsocial-btn .icon {
  display: inline-block;
  height: 50px;
  width: 50px;
  background: #333;
  border-radius: 50px;
  float: left;
  box-shadow: inset -5px -5px 5px 0 #93b1a6;
}

.fsocial-btn span {
  font-size: 24px;
  font-weight: 600px;
  line-height: 50px;
}

.fsocial-btn .icon i {
  font-size: 30px;
  line-height: 50px;
  color: #fff;
}

.fsocial-btn:hover {
  width: 200px;
  transition: all 0.4s ease-out;
}

.fsocial-btn:first-child:hover .icon {
  background: #183d3d;
  box-shadow: inset 1px 0 20px 0 #000;
}

.fsocial-btn:nth-child(2):hover .icon {
  background: #171515;
  box-shadow: inset 1px 0 20px 0 #403f3f;
}

.fsocial-btn:last-child:hover .icon {
  background: #183d3d;
}

.fsocial-btn span {
  color: #faf2d3;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

#hobbies {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 40px 0;
  height: 150vh;
  margin-top: 100px;
}

#hobbies img {
  max-width: 100%;
  height: auto;
  align-items: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.hobbies {
  width: 70%;
}
.hobbies ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  align-items: flex-start;
  margin-top: auto;
}
.hobbies p{
  margin-top:10px;

}

.hobbies li {
  width: calc(50% - 10px);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 20px;
}
#hobbies li:hover img {
  transform: rotate(10deg) scale(1.1);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
#hobbies img {
  width: 400px;
  height: 300px;
  margin: 0 auto;
  display: block;
}

.hobbies img {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
  margin: 0 auto;
  display: block;
}

.hobbies li + li {
  margin-top: 20px;
}

#hobbies ul {
  text-align: center;
}
#svglang {
  margin-top: 500px;
}